// COLORS
$border-color: #c2c2c2;
$main-color: white;
$secondary-color: #1a1a1a;
$accent-color: #F05118;
$content-color: black;

// FONTS
$sans-serif: 'Open Sans', sans-serif;
$monospace: 'VT323', monospace;
