body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 28px;
}

h1, .app-header, footer {
  font-family: 'VT323', monospace;
}


/* CONTENT */
.flexbox {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

.background {
  height: 100%;
  width: 100%;
  background-image: url('../temp.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.main {
  padding: 30px 0 60px 0;
  position: relative;
  top: 0;
  left: 0;
}

.app-header, .content {
  max-width: 560px;
  margin: 0 auto;
  box-shadow: 10px 10px #1a1a1a;
}

.app-header, footer {
  color: white;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F05118;
  height: 100px;
  font-size: 32px;
}

.content {
  background-color: white;
  margin-top: 44px;
  padding: 16px 30px 28px 30px;
  box-sizing: border-box;
}

.todo-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-bottom: 1px solid #c2c2c2;
}

.todo-form input, h1 {
  padding: 0 10px;
}

.todo-form input {
  outline: none;
  border-style: none;
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.todo-item {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c2c2c2;
}

.task {
  position: relative;
}

/* Hide default checkbox */
.task input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  z-index: 1;
}

/* Custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #eee;
  cursor: pointer;
}

.task input:checked ~ .checkmark {
  background-color: #474747;
}

/* Checkmark indicator hidden */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Checkmark indicator showed */
.task input:checked ~ .checkmark:after {
  display: block;
}

/* Checkmark indicator */
.task .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.task li {
  display: inline-block;
  padding-left: 36px;
}

.todo-item.completed li{
  color: grey;
  text-decoration: line-through;
}

/* EDIT TASK */
.edit-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-input {
  font-size: 16px;
  outline: none;
  border-style: none;
}


/* BUTTONS */
.delete-btn:hover, .edit-btn:hover, .save-btn:hover {
  transform: scale(1.2);
}

.add-btn:active, .delete-btn:active, .edit-btn:active, .save-btn:active {
  transform: scale(0.9);
}

.add-btn, .delete-btn, .edit-btn, .save-btn {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 16px;
  width: 16px;
  border: none;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.add-btn {
  background-image: url('../img/add.png');
  background-size: cover;
  height: 24px;
  width: 24px;
}

.delete-btn {
  background-image: url('../img/delete.ico');
  margin-right: 20px;
}

.edit-btn {
  background-image: url('../img/edit.ico');
}

.save-btn {
  background-image: url('../img/save.ico');
}


/* FOOTER */
footer {
  padding: 8px 0 8px 12px;
  background-color: #1a1a1a;
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 590px) {
  .app-header, .content {
    box-shadow: none;
  }
}
