@import './variables';

body {
  margin: 0;
  font-family: $sans-serif;
}

// Background
.flexbox {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

.background {
  height: 100%;
  width: 100%;
  background-image: url('../workplace_3.0.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

// Footer
footer {
  padding: 8px 0 8px 12px;
  background-color: $content-color;
  font-size: 18px;
  text-align: center;
  font-family: $monospace;
  color: $main-color;
}

@media screen and (max-width: 590px) {
  .app-header, .content {
    box-shadow: none;
  }
}
